@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

html{
    scroll-behavior: smooth;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
body{
    overflow-x: hidden;
}
.main{
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.wrapper {
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}
header{
    width: 100vw;
    position: relative;
    padding: 20px 0;
    background-color: #2e2e2e;
}
header h1 a img{
    padding: 0 32px;
}
.logo{
    width: 220px;
    margin-top: 10px;
}
.contents{
    margin: 0 auto;
    padding: 32px 0;
}
.hamburger{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 88px;
    height: 88px;
    border: none;
    background: #2e2e2e;
    cursor: pointer;
}
.hamburger-line{
    position: absolute;
    left: 24px;
    width: 40px;
    height: 2px;
    background-color: #fff;
    transition: all .4s;
}
.hamburger-line:nth-child(1){
    top: 38px;
}
.hamburger-line:nth-child(2){
    top: 52px;
}
.hamburger.active .hamburger-line:nth-child(1){
    left: 30px; 
    transform: rotate(45deg) translateY(10px);
}
.hamburger.active .hamburger-line:nth-child(2){
    left: 30px;
    transform: rotate(-45deg) translateY(-10px);
}
@media(max-width: 768px) {
    .hamburger {
        width: 60px;
        height: 60px;
    }
    .hamburger-line {
        left: 15px;
        width: 30px;
    }
    .hamburger-line:nth-child(1) {
        top: 20px;
    }
    .hamburger-line:nth-child(2) {
        top: 40px;
    }
    .hamburger.active .hamburger-line:nth-child(1) {
        left: 25px;
        transform: rotate(45deg) translateY(14px);
    }
    .hamburger.active .hamburger-line:nth-child(2) {
        left: 25px;
        transform: rotate(-45deg) translateY(-14px);
    }
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #2e2e2e;
    transform: translateX(-100%);
    transition: transform .4s;
    z-index: 90;
}
.nav.active{
    transform: translateX(0);
}
.nav-list{
    margin: 0;
    padding: 100px 0 0;
    list-style: none;
    text-align: center;
}
.nav-item{
    padding: 0 20px;
}
.nav-link{
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    font-size: 1.5rem;
    font-weight: bold;
    transition: .4s;
}
.nav-link:hover{
    transform: scale(1.1);
    letter-spacing: 0.05em;
}
#contents section{
    display: grid;
    place-content: center;
}
.content-top{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.content-top ul{
    list-style: none;
    padding: 0;
    position: relative;
}
.content-top ul li{
    display: block;
    margin: 0 auto;
    opacity: 0;
}
.content-top ul li:nth-child(2), .content-top ul li:nth-child(3){
    position: absolute;
    top: 0;
}
.content-top ul li:nth-child(1){
    position: relative;
    z-index: 3;
}
.content-top ul li:nth-child(2){
    z-index: 2;
}
.content-top ul li:nth-child(3){
    z-index: 1;
}
.content-top ul li.now{
    opacity: 1;
}
.content-top ul li.now:nth-child(1){
    z-index: 0;
}
.content-top ul li img{
    width: 100%;
    max-width: 700px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.title{
    text-align: center;
}
.title-caption{
    padding: 16px 0 24px 0;
    font-size: 3.2em;
    font-family: 'Caveat', cursive;
}
@media(max-width: 768px){
    .title-caption{
        font-size: 1.8em;
    }
}
.profile{
    display: flex;
}
@media(max-width: 768px){
    .profile{
        display: block;
    }
}
.profile-figure img{
    max-width: 300px;
    height: auto;
}
@media(max-width: 768px){
    .profile-figure img{
        max-width: 60%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
}
.profile-caption{
    padding: 0 20px;
}
.name{
    text-align: center;
    font-size: 1.7em;
    margin: 16px 0;
}
@media(max-width: 768px){
    .name{
        font-size: 1em;
    }

}
.career p {
    text-indent: 1em;
}
.content-title{
    font-size: 1.3em;
    margin-bottom: 24px;
}
@media(max-width: 768px){
    .content-title{
        font-size: 1em;
    }
}
.content-title h2 span{
    color: #0047AB;
}
.grid-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;

}
@media(max-width: 768px){
    .grid-wrap{
        display: block;
        width: 100%;
    }
}
.grid-wrap .item img{
    width: 100%;
}
.item{
    width: calc(48% - 26px);
    margin-bottom: 50px;
    height: auto;
}
@media(max-width: 768px){
    .item{
        width: 100%;
    }
}

.item2{
    width: calc(100% - 26px);
    margin-bottom: 50px;
    height: auto;
}
.item a{
    text-decoration: none;
}
.item-figure{
    width: 100%;
    height: 100%;
}
.item .item-figure{
    transition: .4s;
}
.item .item-figure:hover{
    transform: scale(1.1);
}
.item-title{
    height: 40%;
    color: #2e2e2e;
    font-weight: bold;
    text-align: center;
}
.slider-wrapper{
    display: flex;
    overflow: hidden;
    align-items: center;
}
.slider{
    animation: scroll-left 20s infinite linear .5s both;
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
}
.slide{
    min-width: 40%;
    padding: 8px;
}
.slide img{
    display: block;
    margin : 0 auto;
    max-width: 100%;
    transition: transform .4s;
}
.slide img:hover{
    transform: scale(1.1);
}
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-320%);
    }
}
#footer{
    position: relative;
    width: 100vw;
    text-align: center;
}
#footer-top{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #0047AB;
}
#footer-contact{
    position: relative;
    top: 100px;
    width: 60%;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    z-index: 2;
}
@media(max-width: 768px){
    #footer-contact{
        flex-direction: column;
        width: 60%;
        height: auto;
    }
}
.footer-contact-left{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 1080px){
    .footer-contact-left{
        width: 100%;
        text-align: center;
        padding: 24px 0;
    }
}
.footer-contact-left p{
    font-weight: bold;
    font-size: 2rem;
}
.footer-contact-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 1080px){
    .footer-contact-right{
        width: 100%;
        text-align: center;
        padding: 24px 0;
    }
}
.footer-contact-right-item{
    width: 70%;
    height: auto;
    background-color: #0047AB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 24px;
    transition: .4s;
}
.footer-contact-right-item:hover{
    transform: scale(1.1);
    letter-spacing: 0.1em;
}
.footer-contact-right-link{
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}
@media (max-width: 915px){
    .br{
        word-wrap: break-word;
        display: block;
        width: 100%;
        text-align: center;
    }
}
@media(max-width: 500px) {
    .br {
        word-wrap: break-word;
        display: block;
        width: 100%;
        text-align: center;
    }
}
#footer-bottom{
    position: relative;
    width: 100%;
    height: 240px;
    background-color: #2e2e2e;
}
.top-link-icon{
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 50px;
    color: #fff;
    background-color: #2e2e2e;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
    opacity: 0;
    z-index: 100;
}
@media(max-width: 768px) {
    .top-link-icon{
        font-size: 30px;
    }
}
.top-link-icon.active{
    opacity: 1;
    visibility: visible;
}
.copyright{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    color: #fff;
    padding-bottom: 2em;
}
